h1 {
  font-family : "Quicksand";
  font-size : 6em;
}

h2 { 
  font-family : "Roboto-Regular";
}

h4 {
  font-family: "Quicksand-Italic";
  font-size : 2em;
}

h5 {
  font-family: "Quicksand-Italic";
  font-size: 1.5em;
}

p { 
  font-family : "Roboto-Regular";
}

a.expandable {
  color : #333 !important;
  cursor : pointer;
}

a.expandable:link {
  text-decoration: none;
}

a.expandable:visited {
  text-decoration: none;
}

a.expandable:hover {
  text-decoration: none;
}

a.expandable:active {
  text-decoration: none;
}

a.underline:hover{
  text-decoration: underline;
}

header {
  margin-top : 20px;
}

img {
  border-radius : 20px;
  width: 100%;
}

hr{
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(150,150,150,1.0), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(150,150,150,1.0), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(150,150,150,1.0), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(150,150,150,1.0), rgba(0,0,0,0));
  border: 0;
}

hr.baseline {
	height : 2px;
}

hr.divider {
	height : 1px;
}

/*
Heading Styles
*/

.header-padding {
  padding-top : 30px;
  padding-bottom : 30px;
}

.heading {
  text-align : center;
}

/*
Post-Container Styles
*/

.post-container {
  border-radius : 20px;
}

.post-container:hover {
  background-color: #eee; 
}

.post-title {
  text-align : center;
}

.post-subtitle{
  font-size : 1.2em;
  text-align : center;
}

.post-date{
  font-size : 1.2em;
  text-align : center;
}

/*
Post Content Styles
*/

.post-content {
  font-family : "Roboto-Regular";
  border-radius: 20px;
  cursor : default;
}

.post-content p{
  font-size: 1.2em;
  text-align : justify;
}

.post-content p.heading{
  
}

/*.post-content a{
  text-decoration: underline;
  color: blue;
}*/

/*.post-content a:link{
  text-decoration: initial;
}

.post-content a:hover{
  text-decoration: initial;
}*/

.post-content h3{
  text-align : center;
}

.post-content h4{
  font-size: 1.5em;
}

p.img-desc{
  text-align: center;
  font-size : 1.0em;
}

.centered-list{
  text-align : center;
  list-style: none;
  padding-left : 0px;
}

.centered-list li{
  font-size: 1.3em;
}



